@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');


.test {
  background: "#fff"
}

h1.title {
  font-weight: bolder;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 60px;
}

h1.typing-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 30px;
  color: "#00ff00";
}

.card-text {
  font-size: 15px;
  color: black;
}

.card-title {
  font-size: 20px;
}

.header-color {
  background: #fff;
  color: #fff;
}

.landing-grid {
  background: #c5c5c5;
  text-align: center;
  margin: auto;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  align: center;
}

.project-item {
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 0px;

}

