body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

div {
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
}
